In [1]:
#Unites the different datasets

import pandas as pd

Brasileiro = pd.read_csv('data/dataBRA.csv')
Brasileiro23 = pd.read_csv('data/dataBRA23.csv')
SérieB = pd.read_csv('data/dataBRB.csv')
SérieB23 = pd.read_csv('data/dataBRB23.csv')
SérieC = pd.read_csv('data/dataBRC.csv')
SérieC23 = pd.read_csv('data/dataBRC23.csv')
Copa = pd.read_csv('data/dataCBR.csv')
Copa23 = pd.read_csv('data/dataCBR2023.csv')

# Merge dataframes and sort by date
frames = [Brasileiro, Brasileiro23, SérieB, SérieB23, SérieC, SérieC23, Copa, Copa23]
df = pd.concat(frames)
df = df.drop_duplicates()
df['Data'] = pd.to_datetime(df['Data'], infer_datetime_format=True, errors='coerce')
df = df.sort_values(by='Data')
df.to_csv('data/dataELO.csv', index=False)
df

C:\Users\Cristina Jorge\AppData\Local\Temp\ipykernel_14188\2046608399.py:18: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['Data'] = pd.to_datetime(df['Data'], infer_datetime_format=True, errors='coerce')

,Comp,Temp,Data,Casa,GC,GF,Fora,Res,PC,PF,J
10,CBR,2003.0,2003-02-05,CFZ-DF,0.0,0.0,Fortaleza,E,1.0,1.0,11.0
0,CBR,2003.0,2003-02-05,Itabaiana,0.0,1.0,Vasco,VV,0.0,3.0,8.0
1,CBR,2003.0,2003-02-05,CENE,0.0,2.0,Botafogo,VV,0.0,3.0,13.0
2,CBR,2003.0,2003-02-05,Ypiranga-AP,1.0,3.0,Remo,VV,0.0,3.0,9.0
3,CBR,2003.0,2003-02-05,Operário-MT,0.0,1.0,Palmeiras,VV,0.0,3.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...
356,Série B,2023.0,2023-11-12,Novorizontino,1.0,2.0,Vitória,VV,0.0,3.0,357.0
357,Série B,2023.0,2023-11-12,Ceará,2.0,0.0,Mirassol,VC,3.0,0.0,358.0
327,Série A,2023.0,2023-11-12,Grêmio,0.0,1.0,Corinthians,VV,0.0,3.0,329.0
358,Série B,2023.0,2023-11-14,Guarani,1.0,1.0,Criciúma,E,1.0,1.0,359.0
359,Série B,2023.0,2023-11-14,ABC,0.0,0.0,Juventude,E,1.0,1.0,360.0

In [2]:
SérieB

,Comp,Temp,Data,Casa,GC,GF,Fora,Res,PC,PF,J
0,Série B,2003,2003-04-25,Santa Cruz,3,0,União São João,VC,3,0,1
1,Série B,2003,2003-04-25,Avaí,1,0,Ceará,VC,3,0,3
2,Série B,2003,2003-04-25,América-RN,2,2,América-MG,E,1,1,4
3,Série B,2003,2003-04-25,Caxias,1,1,Gama,E,1,1,2
4,Série B,2003,2003-04-26,Marília,2,0,Anapolina,VC,3,0,9
...,...,...,...,...,...,...,...,...,...,...,...
7296,Série B,2022,2022-11-06,CRB,1,2,Bahia,VV,0,3,375
7297,Série B,2022,2022-11-06,Ituano,0,1,Vasco,VV,0,3,376
7298,Série B,2022,2022-11-06,Guarani,1,0,Chapecoense,VC,3,0,374
7299,Série B,2022,2022-11-06,Cruzeiro,3,2,CSA,VC,3,0,378
7300,Série B,2022,2022-11-06,Vila Nova-GO,0,0,Sport,E,1,1,379

In [3]:
Brasileiro
Brasileiro.to_csv('data/dataBRA.csv', index=False)

In [4]:
df

,Comp,Temp,Data,Casa,GC,GF,Fora,Res,PC,PF,J
10,CBR,2003.0,2003-02-05,CFZ-DF,0.0,0.0,Fortaleza,E,1.0,1.0,11.0
0,CBR,2003.0,2003-02-05,Itabaiana,0.0,1.0,Vasco,VV,0.0,3.0,8.0
1,CBR,2003.0,2003-02-05,CENE,0.0,2.0,Botafogo,VV,0.0,3.0,13.0
2,CBR,2003.0,2003-02-05,Ypiranga-AP,1.0,3.0,Remo,VV,0.0,3.0,9.0
3,CBR,2003.0,2003-02-05,Operário-MT,0.0,1.0,Palmeiras,VV,0.0,3.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...
356,Série B,2023.0,2023-11-12,Novorizontino,1.0,2.0,Vitória,VV,0.0,3.0,357.0
357,Série B,2023.0,2023-11-12,Ceará,2.0,0.0,Mirassol,VC,3.0,0.0,358.0
327,Série A,2023.0,2023-11-12,Grêmio,0.0,1.0,Corinthians,VV,0.0,3.0,329.0
358,Série B,2023.0,2023-11-14,Guarani,1.0,1.0,Criciúma,E,1.0,1.0,359.0
359,Série B,2023.0,2023-11-14,ABC,0.0,0.0,Juventude,E,1.0,1.0,360.0

In [5]:
#I use this to make sure that was no duplicates in the DF
import Levenshtein

def are_similar(s1, s2, threshold=0.85):
    distance = Levenshtein.distance(s1.lower(), s2.lower())
    similarity = 1 - distance / max(len(s1), len(s2))
    return similarity >= threshold

# Your DataFrame containing the 'Casa' column
# Assuming you have already converted the "Data" column to pandas datetime format
df['Data'] = pd.to_datetime(df['Data'])

# Generate a list of unique values from the 'Casa' column and sort them
unique_values = df['Fora'].unique()
unique_values_sorted = sorted(unique_values)

# Find semiduplicates using Levenshtein distance with a threshold of 0.9 (90% similarity)
semiduplicates = []

for i in range(len(unique_values_sorted)):
    for j in range(i + 1, len(unique_values_sorted)):
        if are_similar(unique_values_sorted[i], unique_values_sorted[j]):
            semiduplicates.append((unique_values_sorted[i], unique_values_sorted[j]))

print("Semiduplicates:")
for pair in semiduplicates:
    print(f"{pair[0]} and {pair[1]} are similar.")

TypeError: '<' not supported between instances of 'float' and 'str'